.link-ul{
    padding-right: 25px;
}

.core-ws{
    min-height: 100vh;
}

.core-container{
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
}

h1{
    font-family: alagard;
    color: red;
}

.lang-ul{
    position: absolute;
    right: 1vw;
    flex-wrap: wrap;
    top: inherit;
}

.lang-li{
    align-items: flex-end;
    display: inline;
    flex-direction: column;
    justify-content: right;
    padding-right: 1vw;
}

.lang-png{
    width: 2.5vh;
    height: 1.66vh;
}

.core-item{
    flex: 100%;
}

p.core-item{
    text-align: center;
    font-size: 115%;
}

.core-div{
    align-items: center;
}

.games{
    align-self: center;
    display: block;
    word-wrap: break-word;
}

.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.game{
    position: relative;
    margin: 2% 2% 2%;
    padding: 1% 2%;
}

.gameDescription{
    align-items: center;
}

.gameDescription p{
    font-size: 115%;
    text-align: center;
}

#px{
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

footer {
    background-color: #050505;
    position: relative;
    bottom: 0;
    width: calc(100vw - (100vw - 100%));
}

@media screen and ( max-width: 600px ){
    .game{
        display: flex;
    }
    .grid{
        flex-direction: column;
    }
    .gameDescription{
        padding-left: 5%;
    }
}