body {
  position: relative;
  background-color: #353535;
  margin: 0vw;
  padding: 0vw;
  min-height: 100vw;
}

html {
  width: 100vw;
  height: 100vw;
}

p {
  text-align: center;
  margin: auto;
  padding: 10px;
  color: white;
  font-family: "Arimo";
  font-size: 1.5vw;
}

a {
  color: #ffffff;
  font-family: "Arial";
  text-decoration: none;
}

/*.center {
  margin-left: auto;
  margin-right: auto;
}*/

header {
  position: sticky;
  z-index: 999;
  padding: 0.5vw;
  background-color: #141414;
}

.container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  left: initial;
  position: relative;
  right: initial;
  top: initial;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.links {
  align-items: flex-end;
  display: inline;
  flex-direction: column;
  justify-content: center;
  padding-right: 5vw;
}

.logo {
  display: flex;
  position: relative;
  padding-left: 5vw;
  color: #ffffff;
  font-family: "Arial";
  text-decoration: none;
  font-size: 3vw;
}

li {
  display: inline;
}

a.link {
  font-size: 2vw;
  margin-right: 1vw;
}

footer {
  position: static;
  width: 100vw;
  height: auto;
  background-color: #202020;
  text-align: center;
}

ul.link_contato {
  font-size: 1.5vw;
  margin: 0;
  padding: 0;
}
