.game-comm {
    position: absolute;
    align-self: flex-start;
    text-align: left;
    left: 0;
    font-size: 85%;
}

.core-ws{
    background-color: black;
}

#game-div {
    align-items: center;
    min-width: 100vw;
    background-color: black;
}

#score-div {
    display: flex;
    position: absolute;
    display: inline;
    flex-direction: column;
    align-content: flex-end;
    top: 6.5vh;
    right: 5px;
}

#gm-btn{
    background-color: black;
    border: none;
}

.cnv-gm{
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

#score {
    font-family: alagard;
    font-size: 1.5vw;
    align-self: flex-start;
    text-align: right;
    left: initial;
}

@media screen and (max-width: 1500px) {
    #score {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 1000px) {
    #score {
        font-size: 4vw;
    }
}

@media screen and (max-width: 600px) {
    #score {
        font-size: 6vw;
    }
}