.game-comm {
    position: absolute;
    align-self: flex-start;
    text-align: left;
    left: 0;
    font-size: 85%;
}

.core-ws{
    background-color: black;
}

#game-div {
    align-items: center;
    min-width: 100vw;
    background-color: black;
}

#score-div {
    display: flex;
    position: absolute;
    display: inline;
    flex-direction: column;
    align-content: flex-end;
    top: 6.5vh;
    right: 5px;
}

#gm-btn{
    background-color: black;
    border: none;
}

#score {
    font-family: alagard;
    font-size: 100%;
    align-self: flex-start;
    text-align: right;
    left: initial
}